<div>
  <p>
    A CinderBlock is a containerized collection of code and/or libraries that extend the C++ library <a href="https://libcinder.org">Cinder</a>. The official <a href="https://libcinder.org/docs/guides/cinder-blocks/index.html">CinderBlock docs</a> and the forum thread <a href="https://forum.libcinder.org/topic/rfc-cinderblocks">RFC: CinderBlocks</a> offer more detail on the initial motivitations, capabilities and the limitations of CinderBlocks.
  </p>
  <p>
    The source for the CinderBlocks.org project is <a href="https://github.com/pizthewiz/CinderBlocks.org/">available on GitHub</a>.
  </p>

  <h3>Colophon</h3>
  <ul>
    <li><a href="https://nodejs.org/">Node.js</a></li>
    <li><a href="https://www.npmjs.com">npm</a></li>
    <li><a href="http://gulpjs.com/">Gulp</a></li>
    <li><a href="https://developer.github.com/v3/">GitHub API</a></li>
    <li><a href="http://bower.io/">Bower</a></li>
    <li><a href="https://angularjs.org/">AngularJS</a> (💩)</li>
    <li><a href="https://10up.github.io/sanitize.css/">sanitize.css</a></li>
  </ul>
</div>
