<div>
  <section>
    <div>Sort:
      <a href="" data-ng-click="setPredicate('-created')">Created</a>
      <a href="" data-ng-click="setPredicate('-commit.date')">Committed</a>
      <a href="" data-ng-click="setPredicate('name')">Name</a>
      <a href="" data-ng-click="setPredicate('-star_count', 'name')">Stars</a>
      <a href="" data-ng-click="setPredicate('user.name', 'name')">Author</a>
    </div>
    <div>Filter:
      <a href="" data-ng-click="setFilter('macosx')">OS X</a>
      <a href="" data-ng-click="setFilter('ios')">iOS</a>
      <a href="" data-ng-click="setFilter('msw')">Windows</a>
    </div>
  </section>
  <section>
    <ol id="block-list">
      <li data-ng-repeat="block in blocks | filter:filterFunc | orderBy:predicate">
        <a href="{{::block.url}}">
          <canvas width="72" height="72" data-image-url="{{::block.image_url}}" badge></canvas>
          <h3>{{::block.name}}</h3>
        </a>
        <p>{{::block.description}}</p>
        <p>
          <img data-ng-src="{{::block.user.avatar_url}}&s=40" alt="@{{::block.user.name}}" width="20" height="20" class="avatar"> <a class="user" href="{{::block.user.url}}" rel="user">{{::block.user.name}}</a> ·
          <span data-ng-if="isSortingByCreationDate">
            Created <time datetime="{{::block.created}}" title="{{::block.created | date:'medium' }}" relative-time></time> ·
          </span>
          <span data-ng-if="!isSortingByCreationDate">
            Committed <time datetime="{{::block.commit.date}}" title="{{::block.commit.date | date:'medium' }}" relative-time></time> ·
          </span>
          ★ ({{::block.star_count}}) ·
          <ng-pluralize count="::block.sample_count" when="{
            '1': '1 Sample',
            'other': '{} Samples'
          }">
          </ng-pluralize>
        </p>
      </li>
    </ol>
  </section>
</div>
