<div>
  <section>
    <div>Sort:
      <a href="" data-ng-click="setPredicate('-created')">Created</a>
      <a href="" data-ng-click="setPredicate('-commit.date')">Committed</a>
      <a href="" data-ng-click="setPredicate('name')">Name</a>
      <a href="" data-ng-click="setPredicate('-star_count', 'name')">Stars</a>
      <a href="" data-ng-click="setPredicate('user.name', 'name')">User</a>
    </div>
    <div>Filter:
      <a href="" data-ng-click="setFilter('macosx')">OS X</a>
      <a href="" data-ng-click="setFilter('ios')">iOS</a>
      <a href="" data-ng-click="setFilter('msw')">Windows</a>
    </div>
  </section>
  <section>
    <ol id="block-list">
      <li data-ng-repeat="block in blocks | filter:filterFunc | orderBy:predicate">
        <canvas width="72" height="72" data-image-url="{{::block.image_url}}" badge></canvas>
        <h3><a href="{{::block.url}}">{{::block.name}}</a></h3>
        <p>{{::block.description}}</p>
        <p>
          <a class="user" href="{{::block.user.url}}" rel="user"><img data-ng-src="{{::block.user.avatar_url}}s=140" alt="{{::block.user.name}}" width="24" height="24" class="avatar">{{::block.user.name}}</a> ·
          Committed <time datetime="{{::block.commit.date}}" is="relative-time" title="{{::block.commit.date | date:'medium' }}">{{::block.commit.date | relativeTime}}</time> ·
          ★ ({{::block.star_count}}) ·
          <ng-pluralize count="::block.sample_count" when="{
            '1': '1 Sample',
            'other': '{} Samples'
          }">
        </ng-pluralize>
      </p>
    </li>
  </ol>
</section>
</div>
