<!doctype html>
<html lang="en" ng-app="house">
  <head>
    <meta charset="utf-8">
    <title>CinderBlocks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="normalize.css">
    <style type="text/css">
      body {
        margin: 10px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular.min.js"></script>
  </head>
  <body>
    <header><h3>CinderBlocks</h3></header>
    <div ng-controller="HouseController">
      <section>
        <div>Sort:
          <a href="" ng-click="setPredicate('created')">Created</a>
          <a href="" ng-click="setPredicate('updated')">Updated</a>
          <a href="" ng-click="setPredicate('name')">Name</a>
          <a href="" ng-click="setPredicate('star_count')">Stars</a>
        </div>
        <div>Filter:
          <a href="" ng-click="setFilter('macosx')">OS X</a>
          <a href="" ng-click="setFilter('ios')">iOS</a>
          <a href="" ng-click="setFilter('msw')">Windows</a>
        </div>
      </section>
      <section>
        <ul id="block-list">
          <li ng-repeat="block in blocks | filter:filterFunc | orderBy:predicate:reverse">
            <a href="{{block.url}}">{{block.name}}</a>
          </li>
        </ul>
      </section>
    </div>
    <footer>Made With 👏 </footer>
    <script>
      (function () {
        angular.module('house', [])
          .controller('HouseController', ['$scope', '$http', function ($scope, $http) {
            $scope.blocks = [];
            $scope.filter = {supports: []};
            $scope.predicate = 'created';
            $scope.reverse = true;

            $http({method: 'GET', url: 'http://cinderblocks.org/data/blocks.json'})
              .success(function(data, status, headers, config) {
                $scope.blocks = data;
              }).error(function(data, status, headers, config) {
                // TODO - something?
              });

            $scope.setFilter = function (os) {
              if ($scope.filter.supports.indexOf(os) !== -1) {
                var index = $scope.filter.supports.indexOf(os);
                $scope.filter.supports.splice(index, 1);
              } else {
                // replace, a compound os filter would probably be silly
                $scope.filter.supports = [os];
              }
            };

            $scope.filterFunc = function (block) {
              return $scope.filter.supports.every(function (os) {
                return block.supports.indexOf(os) !== -1;
              });
            };

            $scope.setPredicate = function (property) {
              if ($scope.predicate !== property) {
                $scope.predicate = property;
              } else {
                $scope.reverse = !$scope.reverse;
              }
            };
          }]);
        })();
    </script>
  </body>
</html>
